# Data Science Tools and Ecosystem

### In this Notebook, Data Science Tools and Ecosystem are Summarized.

**Objectives:**
* Python
* Java
* R
* C++

**Some of the popular languages that Data Scientists use are:**
1. Python
2. Java
3. R
4. C++

**Some of the commonly used libraries used by Data Scientists include:**
1. TensorFlow
2. NumPy
3. Matplotlib
4. Pandas

|Data Science Tools|
|----|
| Python |
| R |
| Java |
|C++|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers:

In [22]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [25]:
200/60

3.3333333333333335

## Author
Anwadike Ikechukwu